.main_box {
  // margin-top: 100px; //***暫時
  transform: translateY(-200px);
}
//平板橫以上
@media screen and (min-width:1024px) {
  .main_box {
    transform: translateY(-100px);
  }
}
//手機
.main_box2 {
  background-color: $main_3;
  transform: translateY(-500px);
}
//平板橫以上
@media screen and (min-width:1024px) {
  .main_box2 {
    transform: translateY(-400px);
  }
}